<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="FragmentApplication">

    <!-- This is how we include wxi files -->
    <?include $(sys.CURRENTDIR)Config.wxi ?>


    <ComponentGroup Id="Application_Components" Directory="AppFolder" >
      <!--**************************************************************-->
      <!-- ProgramMenuFolder = C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Konvolucio\-->
      <Component Guid="{B20C6B35-84F4-4447-923B-971F6F2EFAD4}" >
        <RemoveFolder Id="AppProgramsFolder" On='uninstall'  Directory='AppProgramsFolder'/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
      </Component>

      <Component  Guid="{59C6A671-4116-40A6-96C0-B53F50965A0F}">
        <File Name="Konvolucio.MBEF170608.exe" Source="$(var.AppDirectory)\Konvolucio.MDFU200325.exe" KeyPath="yes" Checksum="yes">
          <Shortcut Id="_Konvolucio.MDFU200325.exe" Directory="AppProgramsFolder" WorkingDirectory="AppFolder" Icon="AppAddRemove.ico" Name="$(var.ProductName)" Advertise="yes" />
          <Shortcut Id="DesktopShortcut"    Directory="DesktopFolder"  WorkingDirectory = "AppFolder"  Icon="AppAddRemove.ico"  Name="$(var.ProductName)" Advertise="yes" />
        </File>
        <File Name="Konvolucio.MUDS150628.dll" Source="$(var.AppDirectory)\Konvolucio.MUDS150628.dll" KeyPath="no" Checksum="yes"> </File>        
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>